body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  text-align: center;
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input,
.same-input {
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #3b3b3b;
  color: white;
  font-size: 16px;
}

input::placeholder {
  color: white;
}

button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

h2 {
  margin-top: 20px;
}